<div class="TabAdmin">
	<span class="Restaurant">
		<span class="Map">
			<img src="http://maps.googleapis.com/maps/api/staticmap?markers=<%=CGI.escape(@marker_pipe.join('|'))%>&zoom=14&sensor=false&size=100x100&language=th">
		</span>
		<span class="Logo">
			<img src="<%=@restaurant.get_image_path%>">
		</span>
		<span class="Detail">
			<span class="Name"><%=@restaurant.name%></span>
			<span class="Description"><%=@restaurant.description%></span>
			<a href="#" onclick="tab_handler.goto('/tab_restaurant');">แก้ไขร้านอาหาร</a>
		</span>
	</span>
	<%
		if @promotion
	%>
		<span class="Promotion">
			<span class="Logo">
				<img src="<%=@promotion.get_image_path%>">
			</span>
			<span class="Detail">
				<span class="Name"><%=@promotion.name%></span>
				<span class="Description">
					<%=@promotion.description%>
				</span>
				<span class="Restaurant">
					<%=@restaurant.name%>
				</span>
				<span class="Quota">
					<%=@promotion.collected_count%> / <%=@promotion.total%>
				</span>
				<span class="Release">
					ปล่อย <%=@promotion.start_date.to_thai_date%>
				</span>
				<span class="ExpirationDate">
					หมดอายุ <%=@promotion.end_date.to_thai_date%>
				</span>
				<a href="#" onclick="tab_handler.goto('/tab_promotion/<%=@promotion.id%>/edit');">Edit</a>
				<a href="#" onclick="tab_handler.goto('/tab_promotion/<%=@promotion.id%>');">View</a>
			</span>
		</span>
	<%
		else
	%>
		ไม่มีโปรโมชั่นที่กำลังใช้งาน
	<%
		end
	%>
</div>