<span class="TabPromotionShow">
	<span class="PromotionBlock">
		<span class="Image">
			<img src="<%=@promotion.get_image_path%>">
		</span>
		<span class="Detail">
			<span class="Name">
				<%=@promotion.name%>
			</span>
			<span class="Description">
				<%=@promotion.description%>
			</span>
			<span class="Date">
				<%=@promotion.start_date.to_thai_date%>
				- <%=@promotion.end_date.to_thai_date%>
			</span>
			<span class="Count">
				<%=@promotion.collected_count%>/<%=@promotion.total%>
			</span>
		</span>
	</span>
	<span class="BadgeList">
		<span class="Filter">
			<a href="#" onclick="alert('ยังไม่ได้ทำนะจ้ะ :)');">All</a>
			<a href="#" onclick="alert('อันนี้ยังไม่ได้ทำนะจ้ะ :)');">Unused</a>
			<a href="#" onclick="alert('อันนี้ยังไม่ได้ทำจ้ะ :)');">Used</a>
		</span>
		<span class="List">
			<%
				@badges.each { |badge|
			%>
				<span class="Badge <%='Used' if badge.is_used?%>">
					<span class="Number">
						<%=badge.number%>
					</span>
					<span class="Toolbar">
						<span class="ToggleUsageButton" data-ref="<%=badge.id%>">
							Toggle Usage
						</span>
					</span>
				</span>
			<%
				}
			%>
		</span>
	</span>
</span>
<script type="text/javascript">
	tab_badge_handler.init_list({
		usage_buttons: $('.BadgeList .ToggleUsageButton')
	});
</script>